# Global
node_modules/
vendor/
.env
.idea/
.vscode/
*.log
.DS_Store

# Backend (Laravel)
backend/vendor/
backend/node_modules/
backend/public/storage
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.env

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.env

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.idea/
# mobile/build/ (uncommented for vercel)
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.flx
mobile/ios/Flutter/flutter_export_environment.sh
mobile/windows/flutter/ephemeral/
