@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for myTerrain */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fafb;
}
